.primeiro-centralizar-texto{ 
    padding: 30px 20px 20px ;
    justify-content: center;
    text-align: center;
}
    .primeiro-centralizar-texto p{
        font-weight: bold;
        opacity: 0.6;
    }
    .footer-midias{
        display: grid;
        column-gap: 15px;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
    }
    .footer-midias-icone{
        width: 30px;
        padding: 0px 0px 10px;
    }
    .footer-icone-link{
        opacity: 0.5;
    }
    .footer-icone-link:focus{
        opacity: 1;
    }