.header-container{
    padding: 2.5rem 1rem 0 1rem;
    text-align: center;
}
        .detalhe {
            font-size: 1.5rem;
            font-weight: 700;
        }
        .meu-nome{
            margin-top: 2.5rem;
            font-size: 1.5rem;
        }
        .sub-titulo{
            font-size: var(--font-size-normal);
        }

