.nav-container{
    background-color: red;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
}
.nav-estilo{
    display: flex;
    column-gap: 2rem;
    padding: 0.5rem 3rem 0.5rem ;
    border-radius: 1rem;
    border: 0.1rem solid var(--cor-letras);
    background-color: var(--cor-card);
}
.nav-icons{
    width: 2.5rem;
}

