.section-projetos-container{
    padding: 20px 20px 20px ;
    margin-top: 25px;
    background: var(--cor-vidro);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
    .section-projetos-container h2{
        font-size: 35px;
        color: var(--cor-h1);
    }
        .container-projetos-desenvolvidos{
            display: grid;
            row-gap: 50px;
            grid-template-columns: repeat(1, auto);
            height: relative;
            justify-content: space-around;
            padding-top: 35px;
        }
            .projeto-desenvolvendo{
                width: max-content;
            }
                .projetos-cotainer-link{
                    width: 270px;
                    border-radius: 15px;
                    background: #ffffff;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
                }
                    .img-desenvolvendo{
                        width: 270px;
                        border-radius:15px 15px 0 0;
                    }

                    .projeto-descricao{
                        padding:15px 15px 0 15px;
                        text-align: center;
                    }
                    .projeto-descricao h3{
                        color: var(--cor-h1);
                        font-size: 24px;
                    }
                    .projeto-descricao p{
                       margin-top: 20px;
                        font-size: 18px;
                        color: var(--cor-letras-sem-destaque);
                        font-weight: 400;
                    }

                    .container-tecnologias{
                        width: 270;
                        padding: 15px 10px 10px 10px;
                        display: flex;
                        justify-content: flex-start;
                    }
                    .html, .css{
                        padding: 10px;
                        border-radius: 17px;
                        font-weight: 400;
                        background: var(--cor-secundaria);
                        margin: 5px;
                    }
                    .html p, .css p {
                        color: var(--cor-principal);
                    }