.projetos-container{
    padding: var(--centralizacao);
    text-align: center;
    padding-top: 5rem;
}
    .projetos-titulo{
        font-size: var(--font-size-title);
    }
    .projetos-container-card{
        padding-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(1, auto);
        row-gap: 3rem;
        justify-content: center;
    }
        .projetos-container-card a{
            width: fit-content;
            height: fit-content;
        }
            .card-container{
                width: 17rem;
                height: 28rem;
                border-radius: 0.8rem;
                background-color: var(--cor-card);
                box-shadow: 0 0.5rem 2.3rem rgba(59,59,59,0.6);
            }
                .card-image{
                    pointer-events: none;
                    height: 9rem;
                    width: 17rem;
                    margin-bottom: 1rem;
                    border-radius: 0.8rem 0.8rem 0 0;
                }
                .imagem-desenvolvendo{
                    padding: 2rem 5.5rem 2rem;
                    border-radius: 0.8rem 0.8rem 0 0;
                    background-color: rgba(59,59,59,0.2);
                }
                .card-descricao{
                    padding: 1.5rem 0.5rem 0 0.5rem;
                    height: 10rem;
                }
                .card-resumo{
                    padding-top: 1rem;
                    font-size: var(--font-size-normal);
                }  
                .card-linguagens{
                    height: 7.7rem;
                    display: flex;
                    flex-flow: row wrap ;
                    justify-content: center;
                    gap: 0.5rem;
                    padding: 1rem 0.8rem 1rem 0.8rem;
                }
                .card-linguagem{
                    width: fit-content;
                    height: fit-content;
                    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
                    border-radius: 0.5rem;
                    color: var(--cor-card);
                    background: var(--cor-destaque);   
                }