@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --font-family-primary: ;
    --font-size-primary: 1.5rem ;
    --font-size-secondary: ;
    --cor-letras: rgb(59, 59, 59);
    --cor-letras-destaque: rgb(159,84, 53) ;
}
