@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--cor-letras);
}
html{
    scroll-behavior: smooth;
}
:root{
    /* Mobile */
    --font-size-normal: 0.9rem ;
    --font-size-title: 1.5rem;
    --centralizacao: 0 1rem 0 1rem;
    /* Tablet */
    --font-size-normal-tablet: 1.2rem;
    --font-size-title-tablet: 2.5rem;
    /* Pc */
    --font-size-normal-pc: 1.5rem;
    --font-size-title-pc: 2.6rem;
    /* Cores gerais */
    --cor-bk: rgb(230,223,209);
    --cor-letras: rgb(59,59,59);
    --cor-destaque: rgb(159,84,53);
    --cor-card: rgb(176,185,167);
}
body{
    background: var(--cor-bk);
}
a{
    text-decoration: none;
}
.texto-destacado{
    color: var(--cor-destaque);
}
