<div class="nav-bar">

    <a href="#lowPoly-3d" class="my-name"><Span class="highligh-text">I</Span>gor <span class="highligh-text">F</span>ernandes</a>
    
    <div id="menu" class="menu-toggle">
        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" >
            <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
            <path d="M3 5h18v2H3zm0 6h18v2H3zm0 6h18v2H3z"></path>
        </svg>
    </div>


    <ul id="nav-list" class="nav-list" >
        <li id="close-menu" class="close-menu">
            <img src="./assets/img/icons/close-menu.svg" alt="Icone Fechar Menu">
        </li>
        <li><a href="#lowPoly-3d">[ Igor Fernandes ]</a></li>
        <li><a href="#githubLog">[ GitHub Log ]</a></li>
        <li><a href="#projetos">[ Projetos ]</a></li>
        <li><a href="#contato">[ Contato ]</a></li>

    </ul>
</div>