/* Basic configuration */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;       
    text-decoration: none;   
    background-color: var(--background-color);  
}
:root{
    /* Colors */
    --background-color: rgb(10, 10, 10);
    --primary-color: rgb(18, 18, 18);
    --secondary-color: rgb(42, 42, 42);
    --highligh-color: rgb(53, 169, 40);
}