.backgroud-grid{
    z-index: 1;
    background-image: 
        /* Gradient */
        linear-gradient(to bottom, var(--background-color) 0%, transparent 20%),
        linear-gradient(to top, var(--background-color) 0%, transparent 40%),
        /* Grid */
        linear-gradient(to right, var(--secondary-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--secondary-color) 1px, transparent 1px);
    background-repeat:  no-repeat,no-repeat, repeat, repeat;
    background-size: 
        100% 100%, 100% 100%, 60px 60px, 60px 60px;
    background-position: bottom center, center, center;
    width: 100%;
    height: 100vh;
   
}
.container-3d, .container-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container-hero{
    margin-top: 10rem;
}
.lowPoly-3d{
    position: relative;
    width: 35rem;
    height: 35rem; 
    z-index: 3;
}
.circle{
    position: absolute;
    z-index: 2;
    width: 24rem;
    height: 24rem;
    background-color: var(--highligh-color);
    border-radius: 50%;
    box-shadow: 0 0 50px var(--highligh-color);
    filter: blur(7px);
}
.apresentation{
    font-size: 4rem;
    font-weight: normal;
}
.highlighted-text{
    padding: 0.5rem;
    color: var(--highligh-color);
    text-shadow:
    var(--neon-configuration);
}
.my{
    margin-top: -1.6rem;
    font-size: 4rem;
}
.software-enginer{
    font-size: 1.7rem;
    font-weight: 100;
    opacity: 0.9;
}

.scroll-arrow {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-bottom: 3px solid var(--highligh-color);
  border-right: 3px solid var(--highligh-color);
  transform: rotate(45deg); /* Gira para virar uma seta */
  animation: arrow-bounce 2s infinite;
  filter: drop-shadow(var(--neon-configuration));
}

@keyframes arrow-bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateX(-50%) translateY(0) rotate(45deg); }
  40% { transform: translateX(-50%) translateY(-15px) rotate(45deg); }
  60% { transform: translateX(-50%) translateY(-7px) rotate(45deg); }
}