@media only screen and (min-width: 1091px)
{
    /* Header */
    .header-area{
        max-width: 1400px;
        display: grid;
        grid-template-areas: 
        "titulo img"
        "mim img"
        ;
    }
    /* Titulo -----------------------------------------------------------------------*/
        .section-titulo{
            padding-top: 4rem;
            grid-area: titulo;
        }
            .detalhe, .meu-nome{
                font-size: var(--font-size-title-pc);
            }
            .sub-titulo{
                font-size: var(--font-size-normal-pc);
            }
    /* Midias sociais --------------------------------------------------------------*/
            .midias-sociais-container{
                padding: 3rem 0 0 0;
            }
                .midias-sociais-img{
                    width: 3rem;
                }
    /* Sobre mim -------------------------------------------------------------------*/
        .sobre-mim-conteudo{
            padding: 0rem 2rem 0 2rem;
            grid-area: mim;
        }
                .sobre-mim-titulo{
                    font-size: var(--font-size-title-pc);
                }
                .sobre-mim-texto{
                    font-size: var(--font-size-normal-pc);
                }
        .eu{
            width: 25rem;
            grid-area: img;
        }
    /* Projetos ---------------------------------------------------------------------*/
    .projetos-titulo{
        font-size: var(--font-size-title-pc);
    }
        .projetos-container-card{
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 4rem;
        }
    /* Contato ----------------------------------------------------------------------*/
    .contato-title{
        font-size: var(--font-size-title-pc);
    }
        .contato-texto{
            font-size: var(--font-size-normal-pc);
        }
    /* Footer -----------------------------------------------------------------------*/
    .footer-container{
        font-size: var(--font-size-normal-pc);
        padding-bottom: 1rem;
    }
    /* Barra de navegação -----------------------------------------------------------*/
    .nav-container{
        display: none;
    }
}