@media only screen and (min-width: 1091px)
{
    /* Header */
    .header-area{
        max-width: 1400px;
        display: grid;
        grid-template-areas: 
        "titulo img"
        "mim img"
        ;
    }
    /* Titulo -----------------------------------------------------------------------*/
        .section-titulo{
            padding-top: 4rem;
            grid-area: titulo;
        }
            .detalhe, .meu-nome{
                font-size: var(--font-size-title-pc);
            }
            .sub-titulo{
                font-size: var(--font-size-normal-pc);
            }
    /* Midias sociais --------------------------------------------------------------*/
            .midias-sociais-container{
                padding: 3rem 0 0 0;
            }
                .midias-sociais-img{
                    width: 3rem;
                }
    /* Sobre mim -------------------------------------------------------------------*/
        .sobre-mim-conteudo{
            padding: 0rem 2rem 0 2rem;
            grid-area: mim;
        }
                .sobre-mim-titulo{
                    font-size: var(--font-size-title-pc);
                }
                .sobre-mim-texto{
                    font-size: var(--font-size-normal-pc);
                }
        .eu{
            width: 25rem;
            grid-area: img;
        }
    /* Projetos ---------------------------------------------------------------------*/
    .projetos-titulo{
        font-size: var(--font-size-title-pc);
    }
        .projetos-container-card{
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 4rem;
        }
    /* Contato ----------------------------------------------------------------------*/
    .contato-title{
        font-size: var(--font-size-title-pc);
    }
        .contato-texto{
            font-size: var(--font-size-normal-pc);
        }
    /* Footer -----------------------------------------------------------------------*/
    .footer-container{
        font-size: var(--font-size-normal-pc);
        padding-bottom: 1rem;
    }
    /* Barra de navegação -----------------------------------------------------------*/
    .nav-container{
        position: fixed;
        z-index: 1;
        top: 40%;
        bottom: auto;
        right: 2.5rem;
        justify-content: end;
    }
    .nav-estilo{
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        padding: 0.5rem 1rem 0.5rem ;
        border-radius: 1rem;
        border: 0.1rem solid var(--cor-letras);
        background-color: var(--cor-card);
    }
    .nav-icons{
        width: 2.5rem;
    }
    
    /* pagina projetos  */
    .sections-conteudo{
        display: flex;
        justify-content: center;
    }
    .container-centralizacao{
        width: 1200px;
    }
    .container-centralizacao h1{
        font-size: var(--font-size-title-pc);
    }
    .container-centralizacao p,
    .container-centralizacao ul,
    .container-centralizacao h3,
    .container-centralizacao h4 {
        font-size: var(--font-size-normal-pc);
    }
    .projetos-imagens{
        display: grid;
        grid-template-columns: repeat(1);
        text-align: center;
    }
    .imagens-container{
        display: grid;
        grid-template-columns: repeat(3,auto);
        gap: 2rem;
    }
    .imagens-titulo{
        font-weight: bold;
        font-size: var(--font-size-title-pc);
        padding-bottom: 1rem;
    }
}